*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: black;
}

.Q1{
  color: white;
  text-align: center;
  position: relative;
  top: 40%;
  transform: translate(0, -50%);
  font-size: 200%;
  font-weight: 500;
}

.Q1 .O{
  position: relative;
  top: 25px;
  border: white solid 5px;
  border-radius: 20px;
  color: white;
  font-size: 200%;
  text-decoration: none;
  padding: 15px;
  font-weight: 900;
}

.Q1 .X{
  position: relative;
  top: 25px;
  border: white solid 5px;
  border-radius: 20px;
  color: white;
  font-size: 200%;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  font-weight: 900;
}

.timer{
  color: white;
  background-color: gray;
  text-align: center;
  font-size: 500%;
  font-weight: 900;
}